{% extends 'myprofile/base.html'%}
{%load static%}
{%block content%}
<main id="main">
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">
        <h2>Resume</h2>
         <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>sammy magucha</h4>
              <p><em>have 2 years of experience as a Web/Application Developer and coding with analytical programming using Python, Django and react. To serve the organization with the best of my technical skills and abilities by utilizing my educational and professional knowledge and competencies acquired by me in my academic
              career</em></p>
              <p>
              <ul>
                <li>Nairobi kenya</li>
                <li>+254707181264</li>
                <li>smagucha@gmail</li>
                <li>https://www.linkedin.com/smagucha</li>
                <li>https://www.github.com/smagucha</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>bsc applied computer science</h4>
              <h5>1 september 2011 - 19 december 2014</h5>
              <p><em>kisii university</em></p>
              <p>I obtained a degree in applied computer science and I majored on software development, software quality, software life cycle, software testing and software documentation</p>
            </div>
            <div class="resume-item">
              <h4>kenya certificate of secondary education</h4>
              <h5>2007 - 2010 </h5>
              <p><em>kisumu boys' high school</em></p>
              <p> I got a (B-) in kenya certificate of secondary education</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Cyber security specialist intern</h4>
              <h5>2019 - Present</h5>
              <p><em>freelancing, Nairobi</em></p>
              <p>
              <ul>
                <li>Designed the Web application Using Python on Django Web Framework pattern to make it extensible and flexible.</li>
                <li> Building reusable code and libraries for future use.</li>
                <li> Wrote and executed various MYSQL database queries from python using Python-MySQL connector and MySQL dB package.</li>
                <li> Responsible for security standard implementation and data protection.</li>
                <li>Worked with millions of database records on a daily basis, finding common errors and bad data patterns and fixing them.</li>
                <li>Generated various report using Python Report lab and sent to Business users to improve their decision making.</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Cyber security specialist intern</h4>
              <h5>september 2015 - december 2017</h5>
              <p><em>Ict Authority, Nairobi</em></p>
              <p>
              <ul>
                <li>Develop Continuity of Operations (COOP) and Disaster Recovery (DR) operations and conduct evaluation of COOP and DR during annual incident response training. </li>
                <li>Ensure information assurance by transmitting secure data between classified systems; perform ethical hacking, malware reverse engineering, penetration testing, and Certification and Accreditation (C&A) within Security Operations Center (SOC) environment.  </li>
                <li>Identified vulnerabilities, recommend corrective measures and ensure the adequacy of existing information security controls.</li>
                <li>Educated business unit managers, IT development team, and the user community about risks and security controls.</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Network administer</h4>
              <h5>Feb 2015 - August 2015</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <p>
              <ul>
                <li>Administering & designing LANs, WANs internet/intranet, and voice networks.</li>
                <li> Network connectivity troubleshooting, ping, tracert, telnet.</li>
                <li> Responsible for communication protocols, configuration, integration & security.</li>
                <li>Investigating, diagnosing and resolve all network problems.</li>
                <li>Maintaining pre-packaged software applications on the LAN.</li>
                <li>Upgrading and repairing faults on CIS systems, networks & peripheral equipment.</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

{%endblock%}